# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare text files
*.js text
*.jsx text
*.json text
*.md text
*.yml text
*.yaml text
*.sql text
*.css text
*.html text

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.woff binary
*.woff2 binary
